In [1]:
import pandas as pd
from os import environ, scandir
from pathlib import Path
import sqlite3
from sqlalchemy import create_engine, text
from sqlalchemy.types import Integer, Text, String, DateTime

In [2]:
engine = create_engine('sqlite:///baseball_stats.db')
conn = engine.connect()

In [9]:
path_of_directory = r'baseballdatabank\core'
for files in scandir(path_of_directory):
    data = pd.read_csv(files)
    dfs = pd.DataFrame(data)
    dfs.insert(0, 'db_ID', range(0, len(dfs)))
    print(dfs)
    with sqlite3.connect('baseball_stats.db') as con:
        dfs.to_sql(
            Path(files).stem,
            con=con,
            if_exists='replace',
            index=False,
            chunksize=500,
            dtype={'db_ID': 'INTEGER PRIMARY KEY AUTOINCREMENT'}
        )

      db_ID   playerID  yearID  gameNum        gameID teamID lgID  GP  \
0         0  gomezle01    1933        0  ALS193307060    NYA   AL   1
1         1  ferreri01    1933        0  ALS193307060    BOS   AL   1
2         2  gehrilo01    1933        0  ALS193307060    NYA   AL   1
3         3  gehrich01    1933        0  ALS193307060    DET   AL   1
4         4  dykesji01    1933        0  ALS193307060    CHA   AL   1
...     ...        ...     ...      ...           ...    ...  ...  ..
5449   5449  turneju01    2021        0  NLS202107130    LAN   NL   1
5450   5450  turnetr01    2021        0  NLS202107130    WAS   NL   1
5451   5451  walketa01    2021        0  NLS202107130    NYN   NL   1
5452   5452  wheelza01    2021        0  NLS202107130    PHI   NL   0
5453   5453  woodrbr01    2021        0  NLS202107130    MIL   NL   0

      startingPos
0             1.0
1             2.0
2             3.0
3             4.0
4             5.0
...           ...
5449          NaN
5450          NaN
5451          NaN
5452          NaN
5453          NaN

[5454 rows x 9 columns]
         db_ID  yearID teamID lgID   playerID  G_all    GS  G_batting  \
0            0    1871    TRO  NaN  abercda01      1   1.0          1
1            1    1871    RC1  NaN   addybo01     25  25.0         25
2            2    1871    CL1  NaN  allisar01     29  29.0         29
3            3    1871    WS3  NaN  allisdo01     27  27.0         27
4            4    1871    RC1  NaN  ansonca01     25  25.0         25
...        ...     ...    ...  ...        ...    ...   ...        ...
110418  110418    2021    MIL   NL  zimmejo02      2   0.0          2
110419  110419    2021    KCA   AL  zimmeky01     52   2.0          3
110420  110420    2021    WAS   NL  zimmery01    110  48.0        110
110421  110421    2021    KCA   AL  zuberty01     31   0.0          1
110422  110422    2021    TBA   AL  zuninmi01    109  97.0        109

        G_defense  G_p  ...  G_2b  G_3b  G_ss  G_lf  G_cf  G_rf  G_of  G_dh  \
0             1.0    0  ...     0     0     1     0     0     0     0   0.0
1            25.0    0  ...    22     0     3     0     0     0     0   0.0
2            29.0    0  ...     2     0     0     0    29     0    29   0.0
3            27.0    0  ...     0     0     0     0     0     0     0   0.0
4            25.0    0  ...     2    20     0     1     0     0     1   0.0
...           ...  ...  ...   ...   ...   ...   ...   ...   ...   ...   ...
110418        2.0    2  ...     0     0     0     0     0     0     0   0.0
110419       52.0   52  ...     0     0     0     0     0     0     0   0.0
110420       54.0    0  ...     0     0     0     0     0     0     0   3.0
110421       31.0   31  ...     0     0     0     0     0     0     0   0.0
110422      105.0    0  ...     0     0     0     0     0     0     0   0.0

        G_ph  G_pr
0        0.0   0.0
1        0.0   0.0
2        0.0   0.0
3        0.0   0.0
4        0.0   0.0
...      ...   ...
110418   0.0   0.0
110419   0.0   0.0
110420  58.0   0.0
110421   0.0   0.0
110422   5.0   0.0

[110423 rows x 22 columns]
         db_ID   playerID  yearID  stint teamID lgID    G   AB   R   H  ...  \
0            0  abercda01    1871      1    TRO  NaN    1    4   0   0  ...
1            1   addybo01    1871      1    RC1  NaN   25  118  30  32  ...
2            2  allisar01    1871      1    CL1  NaN   29  137  28  40  ...
3            3  allisdo01    1871      1    WS3  NaN   27  133  28  44  ...
4            4  ansonca01    1871      1    RC1  NaN   25  120  29  39  ...
...        ...        ...     ...    ...    ...  ...  ...  ...  ..  ..  ...
110490  110490  zimmejo02    2021      1    MIL   NL    2    1   0   0  ...
110491  110491  zimmeky01    2021      1    KCA   AL   52    0   0   0  ...
110492  110492  zimmery01    2021      1    WAS   NL  110  255  27  62  ...
110493  110493  zuberty01    2021      1    KCA   AL   31    1   0   0  ...
110494  110494  zuninmi01    2021      1    TBA   AL  109  333  64  72  ...

         RBI   SB   CS  BB     SO  IBB  HBP   SH   SF  GIDP
0        0.0  0.0  0.0   0    0.0  NaN  NaN  NaN  NaN   0.0
1       13.0  8.0  1.0   4    0.0  NaN  NaN  NaN  NaN   0.0
2       19.0  3.0  1.0   2    5.0  NaN  NaN  NaN  NaN   1.0
3       27.0  1.0  1.0   0    2.0  NaN  NaN  NaN  NaN   0.0
4       16.0  6.0  2.0   2    1.0  NaN  NaN  NaN  NaN   0.0
...      ...  ...  ...  ..    ...  ...  ...  ...  ...   ...
110490   0.0  0.0  0.0   0    1.0  0.0  0.0  0.0  0.0   0.0
110491   0.0  0.0  0.0   0    0.0  0.0  0.0  0.0  0.0   0.0
110492  46.0  0.0  0.0  16   77.0  0.0  0.0  0.0  2.0   9.0
110493   0.0  0.0  0.0   0    1.0  0.0  0.0  0.0  0.0   0.0
110494  62.0  0.0  0.0  34  132.0  0.0  7.0  0.0  1.0   7.0

[110495 rows x 23 columns]
       db_ID  yearID  round   playerID teamID lgID  G  AB  R  H  ...  RBI  SB  \
0          0    1884     WS  becanbu01    NY4   AA  1   2  0  1  ...    0   0
1          1    1884     WS  bradyst01    NY4   AA  3  10  1  0  ...    0   0
2          2    1884     WS  carrocl01    PRO   NL  3  10  2  1  ...    1   0
3          3    1884     WS  dennyje01    PRO   NL  3   9  3  4  ...    2   0
4          4    1884     WS  esterdu01    NY4   AA  3  10  0  3  ...    0   1
...      ...     ...    ...        ...    ...  ... ..  .. .. ..  ...  ...  ..
15874  15874    2021     WS  wrighky01    ATL   NL  2   1  0  0  ...    0   0
15875  15875    2021  NLDS2  yastrmi01    SFN   NL  5  13  0  0  ...    0   0
15876  15876    2021  NLDS1  yelicch01    MIL   NL  4  15  1  3  ...    0   1
15877  15877    2021  NLDS1   ynoahu01    ATL   NL  1   0  0  0  ...    0   0
15878  15878    2021  ALDS2  zuninmi01    TBA   AL  4  15  1  2  ...    0   0

        CS  BB  SO  IBB  HBP   SH   SF  GIDP
0      NaN   0   0    0  NaN  NaN  NaN   NaN
1      NaN   0   1    0  NaN  NaN  NaN   NaN
2      NaN   1   1    0  NaN  NaN  NaN   NaN
3      NaN   0   3    0  NaN  NaN  NaN   NaN
4      NaN   0   3    0  NaN  NaN  NaN   NaN
...    ...  ..  ..  ...  ...  ...  ...   ...
15874  0.0   0   1    0  0.0  0.0  0.0   0.0
15875  0.0   0   4    0  0.0  0.0  0.0   0.0
15876  0.0   2   8    0  0.0  0.0  0.0   1.0
15877  0.0   0   0    0  0.0  0.0  0.0   0.0
15878  0.0   0   6    0  0.0  0.0  0.0   0.0

[15879 rows x 23 columns]
         db_ID   playerID  yearID  stint teamID lgID POS    G    GS  InnOuts  \
0            0  abercda01    1871      1    TRO  NaN  SS    1   1.0     24.0
1            1   addybo01    1871      1    RC1  NaN  2B   22  22.0    606.0
2            2   addybo01    1871      1    RC1  NaN  SS    3   3.0     96.0
3            3  allisar01    1871      1    CL1  NaN  2B    2   0.0     18.0
4            4  allisar01    1871      1    CL1  NaN  OF   29  29.0    729.0
...        ...        ...     ...    ...    ...  ...  ..  ...   ...      ...
147075  147075  zimmejo02    2021      1    MIL   NL   P    2   0.0     17.0
147076  147076  zimmeky01    2021      1    KCA   AL   P   52   2.0    162.0
147077  147077  zimmery01    2021      1    WAS   NL  1B   54  45.0   1202.0
147078  147078  zuberty01    2021      1    KCA   AL   P   31   0.0     82.0
147079  147079  zuninmi01    2021      1    TBA   AL   C  105  97.0   2581.0

         PO   A     E  DP    PB  WP    SB    CS  ZR
0         1   3   2.0   0   NaN NaN   NaN   NaN NaN
1        67  72  42.0   5   NaN NaN   NaN   NaN NaN
2         8  14   7.0   0   NaN NaN   NaN   NaN NaN
3         1   4   0.0   0   NaN NaN   NaN   NaN NaN
4        51   3   7.0   1   NaN NaN   NaN   NaN NaN
...     ...  ..   ...  ..   ...  ..   ...   ...  ..
147075    0   1   0.0   0   NaN NaN   0.0   0.0 NaN
147076    4   5   0.0   3   NaN NaN   2.0   1.0 NaN
147077  338  15   0.0  30   NaN NaN   NaN   NaN NaN
147078    1   3   0.0   0   NaN NaN   0.0   0.0 NaN
147079  909  37   5.0   2  10.0 NaN  47.0  13.0 NaN

[147080 rows x 19 columns]
       db_ID   playerID  yearID  stint    Glf   Gcf   Grf
0          0  allisar01    1871      1    0.0  29.0   0.0
1          1  ansonca01    1871      1    1.0   0.0   0.0
2          2  armstbo01    1871      1    0.0  11.0   1.0
3          3  barkeal01    1871      1    1.0   0.0   0.0
4          4  barrofr01    1871      1   13.0   0.0   4.0
...      ...        ...     ...    ...    ...   ...   ...
12023  12023  willite01    1955      1   93.0   0.0   0.0
12024  12024  wilsobi02    1955      1   23.0  57.0   4.0
12025  12025  woodlge01    1955      1   26.0   4.0  25.0
12026  12026  woodlge01    1955      2   64.0   0.0  16.0
12027  12027  zernigu01    1955      1  103.0   0.0   0.0

[12028 rows x 7 columns]
       db_ID   playerID  yearID  stint teamID lgID POS    G   GS  InnOuts  \
0          0  aaronha01    1954      1    ML1   NL  LF  105  102     2773
1          1  aaronha01    1954      1    ML1   NL  RF   11   11      320
2          2  abramca01    1954      1    PIT   NL  LF    5    5      120
3          3  abramca01    1954      1    PIT   NL  RF    8    6      173
4          4  abramca01    1954      2    BAL   AL  CF   12   12      300
...      ...        ...     ...    ...    ...  ...  ..  ...  ...      ...
34558  34558  yelicch01    2021      1    MIL   NL  RF    1    0       10
34559  34559  youngan02    2021      1    ARI   NL  LF    1    1       15
34560  34560  zimmebr01    2021      1    CLE   AL  CF   54   45     1184
34561  34561  zimmebr01    2021      1    CLE   AL  LF    3    2       54
34562  34562  zimmebr01    2021      1    CLE   AL  RF   43   37     1042

        PO  A  E  DP  PB  WP  SB  CS  ZR
0      205  4  6   0 NaN NaN NaN NaN NaN
1       12  1  1   1 NaN NaN NaN NaN NaN
2       12  2  0   0 NaN NaN NaN NaN NaN
3       11  0  0   0 NaN NaN NaN NaN NaN
4       36  1  0   0 NaN NaN NaN NaN NaN
...    ... .. ..  ..  ..  ..  ..  ..  ..
34558    0  0  0   0 NaN NaN NaN NaN NaN
34559    1  0  1   0 NaN NaN NaN NaN NaN
34560  101  1  0   0 NaN NaN NaN NaN NaN
34561    5  0  0   0 NaN NaN NaN NaN NaN
34562   81  0  1   0 NaN NaN NaN NaN NaN

[34563 rows x 19 columns]
       db_ID   playerID  yearID teamID lgID  round POS  G  GS  InnOuts  PO  \
0          0  beaumgi01    1903    PIT   NL     WS  CF  8   8      210  21
1          1  branski01    1903    PIT   NL     WS  1B  8   8      210  81
2          2  clarkfr01    1903    PIT   NL     WS  LF  8   8      210  18
3          3  colliji01    1903    BOS   AL     WS  3B  8   8      213   9
4          4  crigelo01    1903    BOS   AL     WS   C  8   8      213  54
...      ...        ...     ...    ...  ...    ...  .. ..  ..      ...  ..
15058  15058  yastrmi01    2021    SFN   NL  NLDS2  CF  3   2       37   4
15059  15059  yastrmi01    2021    SFN   NL  NLDS2  RF  4   2       56   6
15060  15060  yelicch01    2021    MIL   NL  NLDS1  LF  4   4      102   8
15061  15061   ynoahu01    2021    ATL   NL  NLDS1   P  1   0        3   0
15062  15062  zuninmi01    2021    TBA   AL  ALDS2   C  4   4      117  28

        A  E  DP  TP   PB  SB  CS
0       0  0   0   0  NaN NaN NaN
1       6  3   5   0  NaN NaN NaN
2       0  1   0   0  NaN NaN NaN
3      18  1   1   0  NaN NaN NaN
4       7  3   2   0  0.0 NaN NaN
...    .. ..  ..  ..  ...  ..  ..
15058   0  0   0   0  NaN NaN NaN
15059   0  0   0   0  NaN NaN NaN
15060   2  0   2   0  NaN NaN NaN
15061   0  0   0   0  NaN NaN NaN
15062   2  0   0   0  2.0 NaN NaN

[15063 rows x 18 columns]
      db_ID  year.key league.key team.key park.key  span.first   span.last  \
0         0      1871        NaN      BS1    BOS01  1871-05-16  1871-10-07
1         1      1871        NaN      BS1    NYC01  1871-05-27  1871-05-27
2         2      1871        NaN      CH1    CHI01  1871-05-08  1871-09-29
3         3      1871        NaN      CH1    NYC01  1871-10-30  1871-10-30
4         4      1871        NaN      CL1    CIN01  1871-05-13  1871-07-22
...     ...       ...        ...      ...      ...         ...         ...
3190   3190      2021         AL      TOR    ANA01  2021-08-10  2021-08-10
3191   3191      2021         AL      TOR    BUF05  2021-06-01  2021-07-21
3192   3192      2021         AL      TOR    DUN01  2021-04-08  2021-05-24
3193   3193      2021         AL      TOR    TOR02  2021-07-30  2021-10-03
3194   3194      2021         NL      WAS    WAS11  2021-04-06  2021-10-03

      games  openings  attendance
0        16        16       32600
1         1         1        3000
2        16        15       85500
3         1         1         600
4         2         2        2200
...     ...       ...         ...
3190      1         1        3656
3191     23        22      170130
3192     21        21       30936
3193     36        36      604835
3194     81        80     1465543

[3195 rows x 10 columns]
      db_ID   playerID  yearID teamID lgID  inseason    G    W    L  rank  \
0         0  wrighha01    1871    BS1  NaN         1   31   20   10     3
1         1   woodji01    1871    CH1  NaN         1   28   19    9     2
2         2  paborch01    1871    CL1  NaN         1   29   10   19     8
3         3  lennobi01    1871    FW1  NaN         1   14    5    9     8
4         4  deaneha01    1871    FW1  NaN         2    5    2    3     8
...     ...        ...     ...    ...  ...       ...  ...  ...  ...   ...
3679   3679  sheltde99    2021    PIT   NL         1  162   61  101     5
3680   3680  tinglja99    2021    SDN   NL         1  162   79   83     3
3681   3681  kaplega01    2021    SFN   NL         1  162  107   55     1
3682   3682  shildmi99    2021    SLN   NL         1  162   90   72     2
3683   3683  martida01    2021    WAS   NL         1  162   65   97     5

     plyrMgr
0          Y
1          Y
2          Y
3          Y
4          Y
...      ...
3679       N
3680       N
3681       N
3682       N
3683       N

[3684 rows x 11 columns]
    db_ID   playerID  yearID teamID lgID  inseason  half   G   W   L  rank
0       0  hanlone01    1892    BLN   NL         3     1  56  17  39    12
1       1  hanlone01    1892    BLN   NL         3     2  77  26  46    10
2       2  vanhage01    1892    BLN   NL         1     1  11   1  10    12
3       3  waltzjo99    1892    BLN   NL         2     1   8   2   6    12
4       4   wardjo01    1892    BRO   NL         1     1  78  51  26     2
..    ...        ...     ...    ...  ...       ...   ...  ..  ..  ..   ...
88     88  herzowh01    1981    SLN   NL         1     2  52  29  23     2
89     89  zimmedo01    1981    TEX   AL         1     1  55  33  22     2
90     90  zimmedo01    1981    TEX   AL         1     2  50  24  26     3
91     91  mattibo01    1981    TOR   AL         1     1  58  16  42     7
92     92  mattibo01    1981    TOR   AL         1     2  48  21  27     7

[93 rows x 11 columns]
     db_ID park.key                            park.name  \
0        0    ALB01                       Riverside Park
1        1    ALT01                        Columbia Park
2        2    ANA01             Angel Stadium of Anaheim
3        3    ARL01                    Arlington Stadium
4        4    ARL02        Rangers Ballpark in Arlington
..     ...      ...                                  ...
250    250    WIL02        BB&T Ballpark at Bowman Field
251    251    WNY01     West New York Field Club Grounds
252    252    WOR01   Agricultural County Fair Grounds I
253    253    WOR02  Agricultural County Fair Grounds II
254    254    WOR03       Worcester Driving Park Grounds

                                   park.alias           city state country
0                                         NaN         Albany    NY      US
1                                         NaN        Altoona    PA      US
2               Edison Field; Anaheim Stadium        Anaheim    CA      US
3                                         NaN      Arlington    TX      US
4    The Ballpark in Arlington; Ameriquest Fl      Arlington    TX      US
..                                        ...            ...   ...     ...
250                                       NaN   Williamsport    PA      US
251                                       NaN  West New York    NJ      US
252                                       NaN      Worcester    MA      US
253                                       NaN      Worcester    MA      US
254                                       NaN      Worcester    MA      US

[255 rows x 7 columns]
       db_ID   playerID  birthYear  birthMonth  birthDay birthCountry  \
0          0  aardsda01     1981.0        12.0      27.0          USA
1          1  aaronha01     1934.0         2.0       5.0          USA
2          2  aaronto01     1939.0         8.0       5.0          USA
3          3   aasedo01     1954.0         9.0       8.0          USA
4          4   abadan01     1972.0         8.0      25.0          USA
...      ...        ...        ...         ...       ...          ...
20602  20602   zupofr01     1939.0         8.0      29.0          USA
20603  20603  zuvelpa01     1958.0        10.0      31.0          USA
20604  20604  zuverge01     1924.0         8.0      20.0          USA
20605  20605  zwilldu01     1888.0        11.0       2.0          USA
20606  20606   zychto01     1990.0         8.0       7.0          USA

      birthState      birthCity  deathYear  deathMonth  ...  nameLast  \
0             CO         Denver        NaN         NaN  ...   Aardsma
1             AL         Mobile     2021.0         1.0  ...     Aaron
2             AL         Mobile     1984.0         8.0  ...     Aaron
3             CA         Orange        NaN         NaN  ...      Aase
4             FL     Palm Beach        NaN         NaN  ...      Abad
...          ...            ...        ...         ...  ...       ...
20602         CA  San Francisco     2005.0         3.0  ...      Zupo
20603         CA      San Mateo        NaN         NaN  ...   Zuvella
20604         MI        Holland     2014.0         9.0  ...  Zuverink
20605         MO      St. Louis     1978.0         3.0  ...  Zwilling
20606         IL          Monee        NaN         NaN  ...      Zych

             nameGiven weight height bats throws       debut   finalGame  \
0          David Allan  215.0   75.0    R      R  2004-04-06  2015-08-23
1          Henry Louis  180.0   72.0    R      R  1954-04-13  1976-10-03
2           Tommie Lee  190.0   75.0    R      R  1962-04-10  1971-09-26
3       Donald William  190.0   75.0    R      R  1977-07-26  1990-10-03
4        Fausto Andres  184.0   73.0    L      L  2001-09-10  2006-04-13
...                ...    ...    ...  ...    ...         ...         ...
20602     Frank Joseph  182.0   71.0    L      R  1957-07-01  1961-05-09
20603             Paul  173.0   72.0    R      R  1982-09-04  1991-05-02
20604           George  195.0   76.0    R      R  1951-04-21  1959-06-15
20605  Edward Harrison  160.0   66.0    L      L  1910-08-14  1916-07-12
20606    Anthony Aaron  190.0   75.0    R      R  2015-09-04  2017-08-19

        retroID    bbrefID
0      aardd001  aardsda01
1      aaroh101  aaronha01
2      aarot101  aaronto01
3      aased001   aasedo01
4      abada001   abadan01
...         ...        ...
20602  zupof101   zupofr01
20603  zuvep001  zuvelpa01
20604  zuveg101  zuverge01
20605  zwild101  zwilldu01
20606  zycht001   zychto01

[20607 rows x 25 columns]
       db_ID   playerID  yearID  stint teamID lgID   W   L   G  GS  ...  IBB  \
0          0  bechtge01    1871      1    PH1  NaN   1   2   3   3  ...  NaN
1          1  brainas01    1871      1    WS3  NaN  12  15  30  30  ...  NaN
2          2  fergubo01    1871      1    NY2  NaN   0   0   1   0  ...  NaN
3          3  fishech01    1871      1    RC1  NaN   4  16  24  24  ...  NaN
4          4  fleetfr01    1871      1    NY2  NaN   0   1   1   1  ...  NaN
...      ...        ...     ...    ...    ...  ...  ..  ..  ..  ..  ...  ...
49425  49425  zeuchtj01    2021      1    TOR   AL   0   2   5   3  ...  0.0
49426  49426  zimmebr02    2021      1    BAL   AL   4   5  14  13  ...  0.0
49427  49427  zimmejo02    2021      1    MIL   NL   0   0   2   0  ...  0.0